

header{
    background-color: #14213D;
    padding: 20px;
    display: flex;
}
ul{
  margin-left: 700px;
  margin-top: 20px;
}
a{
  color: #FCA311;
}

header a:hover{
  color: white;
}
main{
    width: auto;
    
}

main.perfil{
  background-color: #FCA311;
}
header h1{
    color: #FCA311;
}

body{
  background-color: #C4C4C4;
}

h1{
  margin-top: 10px;
  margin-left: 30px;
    
}
body{
  align-items: center;
}


.perfil{
    margin-right: 30px;
    align-items: center;
    margin-left: 30px;
    padding: 41.5px;
}

.senha{
    margin-top: 0%;
    float: left;
}

button{
    margin-bottom: 10px;
}


footer{
    background-color: #14213D;
    padding: 20px;
    
}
footer p{
    color: #FCA311
}