/*Menu Lateral*/
html, body{
    height:900px;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:black;
}
#menu{
    list-style: none;
    position: absolute;
    top:60px;
    width: 100%;
}
#menu i {
    padding-right:20px;
}
 label i {
    margin-left: 200px;
}
label{
    transition: 0.5s;
}
input[id=checkbox-menu]:not(:checked) ~ label  {
    position:absolute;
    transform:rotateY(180deg);
    
    
}

input[id=checkbox-menu]{
    display:none;
}

input[id=checkbox-menu ]:not(:checked) ~ nav{
    transform:translateX(60px);
}


input[id=checkbox-menu]:not(:checked) ~ nav a > #icone_menu  {
    transform:translateX(200px);
}

input[id=checkbox-menu]:checked ~ nav {
    transform:translateX(260px);
}

input[id=checkbox-menu]:checked ~ main {
    transform:translate(260px,60px);
    
}

input[id=checkbox-menu]:not(checked) ~ main {
    transform:translate(60px,60px);
}

nav.menu {
    background-color:rgb(20,33,61);
    height:inherit;
    width: 280px;
    position:absolute;
    left:-280px;
    
}



nav{
    transition: 0.5s;
    position:fixed;
}

#menu a{
    display: block;
    padding: 15px 10px;
    color: white;
}
#menu i{
    transition: 0.5s;
}
li > a:hover{
    background-color:rgb(26, 47, 92) ;
    color:white;
}

label{
    position: absolute;
    padding:20px;   
    z-index: 1;
}

nav img{
    margin-top: 500px;
    margin-left: 40px;
}

/*Menu Secundário*/

.menu_secundario{
    position:absolute;
    width:100%;
    background-color:whitesmoke;
    height: 60px;
    padding-top:10px;
    padding-left: 13px;
    z-index: 5;
}
.menu_secundario i{
    padding-left:15px;
}

.menu_secundario input[type=text]{
    border: none;
    background-color:whitesmoke;
    border-right: 2px solid rgb(20,33,61);
    
    padding: 5px;
    margin-bottom: 10px;
    width: 60%;

}

#icone_menu1{
    margin-left:20px;
    padding:0px;
    margin-top: 0px;
    position:fixed;
    display: inline;
    float: right;
}
#botãomenu{
    padding:0px;
}
#checkbox_perfil{
    margin-left:60% ;
    padding:0px;
    display:none ;
}

#menu_dropdown{
    border-radius: 15px;
    position: absolute;
    background-color:rgb(20,33,61);
    width: 240px;
    height: 180px;
    margin-left:65%;
    margin-top:12px;
    transition:0.3s;
}

#menu_dropdown li{
    list-style: none;
    margin-top: 15px;
    color: white;
    padding:0px;
    text-align:justify;
    transition: 0.3s;
}


#menu_dropdown i {
    padding-right:20px;
    padding-left: 10px;
}

#menu_dropdown ul{
    padding:0px;
}

#menu_dropdown li{
    display:none;
}
#menu_dropdown a{
    display: block;
    padding: 15px 0px 15px 10px;
    color: white;
}

input[id="checkbox_perfil"]:not(:checked) ~ #menu_dropdown{
     height: 0px;
}
input[id="checkbox_perfil"]:checked ~ #menu_dropdown li {
    
    display:block;
    
}

/*Banner Principal*/

#frase1{
    padding-top: 15px;
    margin-left: 46px;
    margin-right: 0px;
    
}



.cards_principais{
    display:flex;
    
   
}


#imagem_card{
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-top: 10px;
    display: block;
}
#card_principal p{ 
    margin-left: 30px;
    margin-top: 5px;
    
}

#card_principal{
    background-color: rgb(196,196,196);
    width: 130px;
    height:160px;
    margin-left: 30px;
    display:flex;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#card_principal{
    margin-left: 25px;
}
#banner_principal{
    margin-left: 20px;
    height: 260px;
    background-color: rgb(252,163,17);
    border-radius: 15px;
    padding:0px;
    display:block;
}

#banner_principal > #card_principal {
    flex-basis: 100%;
}

.col{
    padding-left: 0px;
}

#banner_secundario{
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(20,33,61);
    height: 55px;   
    border-radius: 15px;
    display: flex;
}
 #banner_secundario a{
    display: flex;
 }
 #banner_secundario i{
     margin-top: 10px;
     margin-left: 10%;
 }

#explorar{
    margin-left: 20px;
    color:white;
    margin-top: 5px;
}
#principais_serviços{
    margin-left: 20px;
    padding-top: 10px;

}

/*Banner Mapa*/
#banner_mapa{
    background-color:white;
    height: 400px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
}

#mapa_placeholder {
    width: 585px;
    height: 300px;
}


#agenda{
    background-color:white;
    height: 400px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 15px;
}

#serviços_agendados{
    max-width: 340px;
    margin-top: 20px;
}

#agenda > p, #mapa > p{
    color:lightslategray;
}

#Heading{
   margin-left:20px;
   padding-top:8px;
}

#tela-cheia{
    position: absolute;
    display: inline;
    width: 50px;
    height: 30px;
    background-color: rgb(20,33,61);
    border-radius: 50%;
    z-index: 5;
}
#botao-telacheia i{
   margin-left:10px ;
   margin-top: 5px;
   
}
#telacheia{
    display: none;
}
#mapa{
    background-color:rgb(196,196,196);
    width: 585px;
    height: 300px;
    
}
#icone_mapa{
    padding-left: 2px;
}

#map{
    height: 330px;
    width: 585px;
    position: relative;
    display: flex;
    top:0px;
    
}

#botao-telacheia{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:rgb(20,33,61);
    padding: 10px;
    top:450px;
    left: 520px;
    z-index: 5;
}

#busca-mapa{
    position: absolute;
    width: 400px;
    height: 60px;
    background-color:rgb(26, 47, 92);
    bottom: 30px;
    margin-left: 130px;
    opacity: 0%;
    transition: 0.5s;
    padding:11px;
    top:470px;
}

input[id=telacheia]:checked ~ #busca-mapa{
    opacity: 100%;
}


input[id=searchInput]{
    border: none;
    background-color:whitesmoke;
    border: 2px solid rgb(20,33,61);
    padding: 5px;
    margin-bottom: 10px;
    width: 330px;
    
    top:400px;

}




/*Corpo*/
body{
    background-color: rgb(196,196,196);
    overflow-x: hidden;
}
main{
    transition: 0.5s;
    margin-left: 10px;
    
}

/*Media Queries*/
@media screen and (max-width: 768px){
    main{
        margin-left: 0px;
        width: 100%;
    }
    nav.menu{
        display:none;
    }
    
   nav.menu_secundario{
    margin-left: 0px;
    padding-left: 0px;
    width: 85%;
   }

   .menu_secundario input[type=text]{
       width: 50%;
   }

   input[id=checkbox-menu]:not(checked) ~ main {
    transform:translate(-20px,60px);
    }

    .menu{
        transition: 0.3s;
    }

    #menu_dropdown {
        margin-left: 46px;
    }

    input[id=checkbox-menu]:not(:checked) ~ #botaofecha{
        height: 60px;
        margin-bottom: 6px;
        background-color: rgb(20,33,61);
        
    }

    input[id=checkbox-menu]:checked ~ nav.menu {
        display: block;
        transition:0.3s;
    }

    .wrapper{
        display: flex;
        overflow-x: auto;
    }

    .wrapper #card_principal{
        min-width: 100px;
        
    }

    #banner_principal{
        padding-right: 0px;
    }
    #banner_secundario h2{
        margin-top: 10px;
    }
    

    #map{
        height: 100%;
        width: 345px;
        position: relative;
        display: flex;
        top:0px;
    }

    #botao-telacheia{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:rgb(20,33,61);
        padding: 10px;
        top:720px;
        left: 280px;
        z-index: 5;
    }
    
    #busca-mapa{
        width: 280px;
        height: 60px;
        background-color:rgb(26, 47, 92);
        bottom: 30px;
        margin-left: 30px;
        opacity: 0%;
        transition: 0.5s;
        padding:11px;
        top:730px;
    }
    
    
    input[id=searchInput]{
        border: none;
        background-color:whitesmoke;
        border: 2px solid rgb(20,33,61);
        padding: 5px;
        margin-bottom: 10px;
        width: 280px;
        top:400px;
    }
    #agenda{
        margin-left: 30px;
    }




}

    @media screen and (min-width: 768px) and (max-width: 1024px){
        main{
            margin-left: 0px;
            width: 100%;
        }
        nav.menu{
            display:none;
        }
        
       nav.menu_secundario{
        margin-left: 0px;
        padding-left: 0px;
        width: 85%;
       }
    
       .menu_secundario input[type=text]{
           width: 70%;
       }
    
       input[id=checkbox-menu]:not(checked) ~ main {
        transform:translate(-20px,60px);
        }
        
        .menu_secundario{
            width: 750px !important
        }
        .menu{
            transition: 0.3s;
        }
    
        #menu_dropdown {
            margin-left: 55%;
        }
    
        input[id=checkbox-menu]:not(:checked) ~ #botaofecha{
            height: 60px;
            margin-bottom: 6px;
            background-color: rgb(20,33,61);
            
        }
    
        input[id=checkbox-menu]:checked ~ nav.menu {
            display: block;
            transition:0.3s;
        }
        .wrapper{
            display: flex;
            overflow-x: auto;
        }
    
        .wrapper #card_principal{
            min-width: 100px;
            
        }

        #banner_principal,#banner_secundario,#frase1{
            width:780px;
        }
        body{
            width: 780px;
        }
        main{
            height: 50%;
            width: 780px;
            
        }

        #mapa_placeholder{
            width: 100%;
        }

        #mapa{
            margin-right: 0px;
            width: 400px;
        }
        #agenda{
            margin-left: 50px;
            width: 358px;
        }

        #map{
            height: 100%;
            width: 345px;
            position: relative;
            display: flex;
            top:0px;
        }
    
        #botao-telacheia{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color:rgb(20,33,61);
            padding: 10px;
            top:720px;
            left: 280px;
            z-index: 5;
        }
        
        #busca-mapa{
            width: 280px;
            height: 60px;
            background-color:rgb(26, 47, 92);
            bottom: 30px;
            margin-left: 30px;
            opacity: 0%;
            transition: 0.5s;
            padding:11px;
            top:730px;
        }
        
        
        input[id=searchInput]{
            border: none;
            background-color:whitesmoke;
            border: 2px solid rgb(20,33,61);
            padding: 5px;
            margin-bottom: 10px;
            width: 280px;
            top:400px;
        }

        



}