#collegareLoginImg {
    width: 50% ;
  }
  
  body{
    background: #14213D;
    margin-top: 10%;
    }
  
  #username{
    color: #14213D;
  }
  
  #trocaCor2  {
    color: #FCA311 !important
  }
  
  #trocaCor1  {
    color: #FCA311 !important
  }
  
  #trocaCor3  {
    color: #FCA311 !important
  }
  
  #trocaCor4  {
    color: #FCA311 !important
  }
  
  #trocaCor5  {
    color: #FCA311 !important
  }
  
  #trocaCor6  {
    color: #FCA311 !important
  }
  
  #trocaCor7  {
    color: #FCA311 !important
  }