body{
    background-color: #14213D;
}

header{
   background-color: #14213D;
   padding: 20px;
   display: flex;
}
ul{
  margin-left: 900px;
  margin-top: 20px;
}
a{
  color: #7cc2bb;
}

header a:hover{
  color: white;
}

img.tele{
    width: 35px;
    margin-bottom: 5px;
}

.white-bg{
    background-color: white;
}

.title{
    margin-right: 5px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: #14213D;
    font-family:Georgia, 'Times New Roman', Times, serif
}
main{
    padding: 20px;
}

.border-danger, .border-botton, .btn-send:hover{
    transition: all 0.4s ease-in-out;
}

.btn-send:hover{
    box-shadow: 5px 5px 14px 5px #14213D;
}

img.insta{
    width: 30px;
    margin-left: 20px;
}

img#face{
    width: 40px;
    margin-left: 10px;
}
footer{
    background-color: #14213D;
    padding: 20px;
}

footer p{
    color: #7cc2bb;
}
img.logo{
    width: 200px;
}